<div class="row m-t-10" [formGroup]="abdominalExaminationForm">
  <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
    <div class="col-12 row">
      <div class="col-6 custom-cell cell_postion">
        <span>{{
          current_language_set?.ExaminationData?.cancerScreeningExamination
            ?.abdominal?.abdominalInspection
        }}</span>
      </div>

      <div class="col-6 custom-cell">
        <mat-radio-group
          name="abdominalInspection_Normal"
          formControlName="abdominalInspection_Normal"
        >
          <mat-radio-button
            color="primary"
            class="form-radio-btn"
            [value]="true"
            >{{ current_language_set?.common?.normal }}</mat-radio-button
          >
          <mat-radio-button
            color="primary"
            class="form-radio-btn"
            [value]="false"
            >{{ current_language_set?.common?.abnormal }}</mat-radio-button
          >
        </mat-radio-group>
      </div>
    </div>

    <div class="clo-12 row">
      <div class="col-6 custom-cell cell_postion">
        <span>{{
          current_language_set?.ExaminationData?.cancerScreeningExamination
            ?.abdominal?.liver
        }}</span>
      </div>

      <div class="col-6 custom-cell">
        <mat-label class="mat-label-text">{{
          current_language_set?.common?.select
        }}</mat-label>
        <mat-select
          name="liver"
          floatPlaceholder="never"
          formControlName="liver"
        >
          <mat-option value="Not palpable"> Not palpable </mat-option>
          <mat-option value="Palpable and smooth">
            Palpable and smooth
          </mat-option>
          <mat-option value="Palpable and nodular"
            >Palpable and nodular
          </mat-option>
        </mat-select>
      </div>

      <div class="col-xs-6 custom-cell">
        <span>{{
          current_language_set?.ExaminationData?.cancerScreeningExamination
            ?.abdominal?.ascites
        }}</span>
      </div>
    </div>

    <div class="col-12 row">
      <div class="col-6 custom-cell cell_postion">
        <mat-radio-group
          name="ascites_Present"
          formControlName="ascites_Present"
        >
          <mat-radio-button
            color="primary"
            class="form-radio-btn"
            [value]="true"
            >{{ current_language_set?.common?.present }}</mat-radio-button
          >
          <mat-radio-button
            color="primary"
            class="form-radio-btn"
            [value]="false"
            >{{ current_language_set?.common?.absent }}</mat-radio-button
          >
        </mat-radio-group>
      </div>
    </div>

    <div class="col-12 row">
      <div class="col-6 custom-cell cell_postion">
        <span>{{
          current_language_set?.ExaminationData?.cancerScreeningExamination
            ?.abdominal?.anyOtherMass
        }}</span>
      </div>

      <div class="col-6 custom-cell">
        <mat-radio-group
          name="anyOtherMass_Present"
          formControlName="anyOtherMass_Present"
        >
          <mat-radio-button
            color="primary"
            class="form-radio-btn"
            [value]="true"
            >{{ current_language_set?.common?.present }}</mat-radio-button
          >
          <mat-radio-button
            color="primary"
            class="form-radio-btn"
            [value]="false"
            >{{ current_language_set?.common?.absent }}</mat-radio-button
          >
        </mat-radio-group>
      </div>
    </div>

    <div class="col-12 row">
      <div class="col-6 custom-cell cell_postion">
        <span>{{
          current_language_set?.ExaminationData?.cancerScreeningExamination
            ?.abdominal?.lymphnode
        }}</span>
      </div>

      <div class="col-6 custom-cell">
        <mat-radio-group
          name="lymphNodes_Enlarged"
          formControlName="lymphNodes_Enlarged"
          (change)="checkWithLymphNodes()"
        >
          <mat-radio-button
            color="primary"
            class="form-radio-btn"
            [value]="true"
            >{{ current_language_set?.common?.enlarged }}</mat-radio-button
          >
          <mat-radio-button
            color="primary"
            class="form-radio-btn"
            [value]="false"
            >{{ current_language_set?.common?.notEnlarged }}</mat-radio-button
          >
        </mat-radio-group>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
    <div class="image-placeholder">
      <small>{{ current_language_set?.common?.kindlyMark }}</small>
      <br />
      <!-- eslint-disable-next-line  @angular-eslint/template/click-events-have-key-events -->
      <a (click)="annotateImage()" tabindex="{0}" id="annotateAbdominalImg"
        ><img
          #abdominalImage
          src="assets/images/abdominalExamination.png"
          alt="Abdominal Examination"
      /></a>
    </div>
  </div>

  <div
    class="col-xs-12"
    *ngIf="lymphNodes_Enlarged && lymphNodes_Enlarged.value"
  >
    <table
      class="table"
      id="lymphNodesTable"
      aria-describedby="abdominalExaminationTbl"
    >
      <th id=""></th>
      <!--Added to resolve sonarqube error-->
      <tr>
        <td>
          {{
            current_language_set?.ExaminationData?.cancerScreeningExamination
              ?.abdominal?.leftPalpable
          }}
        </td>
        <td>
          {{
            current_language_set?.ExaminationData?.cancerScreeningExamination
              ?.abdominal?.lymphnode
          }}
        </td>
        <td>
          {{
            current_language_set?.ExaminationData?.cancerScreeningExamination
              ?.abdominal?.rightPalpable
          }}
        </td>
      </tr>
      <tr>
        <td>
          <mat-button-toggle-group
            name="lymphNode_Inguinal_Left"
            formControlName="lymphNode_Inguinal_Left"
          >
            <mat-button-toggle [value]="true"> + </mat-button-toggle>
            <mat-button-toggle [value]="false"> - </mat-button-toggle>
          </mat-button-toggle-group>
        </td>
        <td>
          {{
            current_language_set?.ExaminationData?.cancerScreeningExamination
              ?.abdominal?.inguinal
          }}
        </td>
        <td>
          <mat-button-toggle-group
            name="lymphNode_Inguinal_Right"
            formControlName="lymphNode_Inguinal_Right"
          >
            <mat-button-toggle [value]="true"> + </mat-button-toggle>
            <mat-button-toggle [value]="false"> - </mat-button-toggle>
          </mat-button-toggle-group>
        </td>
      </tr>
      <tr>
        <td>
          <mat-button-toggle-group
            name="lymphNode_ExternalIliac_Left"
            formControlName="lymphNode_ExternalIliac_Left"
          >
            <mat-button-toggle [value]="true"> + </mat-button-toggle>
            <mat-button-toggle [value]="false"> - </mat-button-toggle>
          </mat-button-toggle-group>
        </td>
        <td>
          {{
            current_language_set?.ExaminationData?.cancerScreeningExamination
              ?.abdominal?.externalIliac
          }}
        </td>
        <td>
          <mat-button-toggle-group
            name="lymphNode_ExternalIliac_Right"
            formControlName="lymphNode_ExternalIliac_Right"
          >
            <mat-button-toggle [value]="true"> + </mat-button-toggle>
            <mat-button-toggle [value]="false"> - </mat-button-toggle>
          </mat-button-toggle-group>
        </td>
      </tr>
      <tr>
        <td>
          <mat-button-toggle-group
            name="lymphNode_ParaAortic_Left"
            formControlName="lymphNode_ParaAortic_Left"
          >
            <mat-button-toggle [value]="true"> + </mat-button-toggle>
            <mat-button-toggle [value]="false"> - </mat-button-toggle>
          </mat-button-toggle-group>
        </td>
        <td>
          {{
            current_language_set?.ExaminationData?.cancerScreeningExamination
              ?.abdominal?.paraAortic
          }}
        </td>
        <td>
          <mat-button-toggle-group
            name="lymphNode_ParaAortic_Right"
            formControlName="lymphNode_ParaAortic_Right"
          >
            <mat-button-toggle [value]="true"> + </mat-button-toggle>
            <mat-button-toggle [value]="false"> - </mat-button-toggle>
          </mat-button-toggle-group>
        </td>
      </tr>
    </table>
  </div>

  <div class="col-xs-12">
    <mat-form-field class="form-textarea">
      <mat-label class="mat-label-text">{{
        current_language_set?.ExaminationData?.cancerScreeningExamination
          ?.abdominal?.observation
      }}</mat-label>
      <textarea
        matInput
        allowText="textAreaValidator"
        defaultNull
        matTextareaAutosize
        maxlength="500"
        name="observation"
        formControlName="observation"
      ></textarea>
    </mat-form-field>
  </div>
</div>
