<h3 class="title info">{{ currentLanguageSet?.common?.selectPrintPage }}</h3>
<div class="message">
  <div
    class="col-xs-12 col-sm-6 col-md-6 m-t-15"
    *ngIf="visitCategory === 'ANC'"
  >
    <mat-checkbox
      color="primary"
      [(ngModel)]="printPagePreviewSelect.caseSheetANC"
    >
      {{ currentLanguageSet?.ancData?.anc }}
    </mat-checkbox>
  </div>
  <div
    class="col-xs-12 col-sm-6 col-md-6 m-t-15"
    *ngIf="visitCategory === 'PNC'"
  >
    <mat-checkbox
      color="primary"
      [(ngModel)]="printPagePreviewSelect.caseSheetPNC"
      >{{ currentLanguageSet?.pncData?.pnc }}</mat-checkbox
    >
  </div>
  <div
    class="col-xs-12 col-sm-6 col-md-6 m-t-15"
    *ngIf="visitCategory !== 'General OPD (QC)'"
  >
    <mat-checkbox
      color="primary"
      [(ngModel)]="printPagePreviewSelect.caseSheetHistory"
    >
      {{ currentLanguageSet?.historyData.history }}
    </mat-checkbox>
  </div>
  <div
    class="col-xs-12 col-sm-6 col-md-6 m-t-15"
    *ngIf="
      visitCategory !== 'NCD care' &&
      visitCategory !== 'General OPD (QC)' &&
      visitCategory !== 'COVID-19 Screening'
    "
  >
    <mat-checkbox
      color="primary"
      [(ngModel)]="printPagePreviewSelect.caseSheetExamination"
    >
      {{ currentLanguageSet?.ExaminationData.examination }}
    </mat-checkbox>
  </div>
  <div
    class="col-xs-12 col-sm-6 col-md-6 m-t-15"
    *ngIf="visitCategory !== 'Cancer Screening'"
  >
    <mat-checkbox
      color="primary"
      [(ngModel)]="printPagePreviewSelect.caseSheetPrescription"
    >
      {{ currentLanguageSet?.casesheet.prescribe }}</mat-checkbox
    >
  </div>
  <div
    class="col-xs-12 col-sm-6 col-md-6 m-t-15"
    *ngIf="visitCategory !== 'Cancer Screening'"
  >
    <mat-checkbox
      color="primary"
      [(ngModel)]="printPagePreviewSelect.caseSheetDiagnosis"
    >
      {{ currentLanguageSet?.DiagnosisDetails.diagnosis }}</mat-checkbox
    >
  </div>
  <div
    class="col-xs-12 col-sm-6 col-md-6 m-t-15"
    *ngIf="visitCategory !== 'Cancer Screening'"
  >
    <mat-checkbox
      color="primary"
      [(ngModel)]="printPagePreviewSelect.caseSheetInvestigations"
    >
      {{
        currentLanguageSet?.nurseData?.investigationsDetails?.investigations
      }}</mat-checkbox
    >
  </div>
  <div
    class="col-xs-12 col-sm-6 col-md-6 m-t-15"
    *ngIf="visitCategory !== 'Cancer Screening'"
  >
    <mat-checkbox
      color="primary"
      [(ngModel)]="printPagePreviewSelect.caseSheetExtInvestigation"
    >
      {{
        currentLanguageSet?.Investigationdetails?.externalinvestigations
      }}</mat-checkbox
    >
  </div>
  <div
    class="col-xs-12 col-sm-6 col-md-6 m-t-15"
    *ngIf="visitCategory !== 'Cancer Screening'"
  >
    <mat-checkbox
      color="primary"
      [(ngModel)]="printPagePreviewSelect.caseSheetChiefComplaints"
      >{{
        currentLanguageSet?.nurseData?.chiefComplaintsDetails?.chiefComplaints
      }}</mat-checkbox
    >
  </div>
  <div
    class="col-xs-12 col-sm-6 col-md-6 m-t-15"
    *ngIf="visitCategory !== 'Cancer Screening'"
  >
    <mat-checkbox
      color="primary"
      [(ngModel)]="printPagePreviewSelect.caseSheetClinicalObservations"
      >{{ currentLanguageSet?.casesheet.clinicalObs }}</mat-checkbox
    >
  </div>
  <div
    class="col-xs-12 col-sm-6 col-md-6 m-t-15"
    *ngIf="
      visitCategory !== 'Cancer Screening' &&
      visitCategory !== 'General OPD (QC)'
    "
  >
    <mat-checkbox
      color="primary"
      [(ngModel)]="printPagePreviewSelect.caseSheetFindings"
      >{{ currentLanguageSet?.Find?.findings }}</mat-checkbox
    >
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 m-t-15">
    <mat-checkbox
      color="primary"
      [(ngModel)]="printPagePreviewSelect.caseSheetCurrentVitals"
    >
      {{ currentLanguageSet?.previousvisit?.currentvitals }}</mat-checkbox
    >
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 m-t-15">
    <mat-checkbox
      color="primary"
      [(ngModel)]="printPagePreviewSelect.caseSheetCovidVaccinationDetails"
      >{{ currentLanguageSet?.covidVaccinationStatus }}</mat-checkbox
    >
  </div>
  <div
    class="col-xs-12 col-sm-6 col-md-6 m-t-15"
    *ngIf="visitCategory === 'Cancer Screening'"
  >
    <mat-checkbox
      color="primary"
      [(ngModel)]="printPagePreviewSelect.cancerCaseSheetObservations"
      >{{
        currentLanguageSet?.ExaminationData?.cancerScreeningExamination?.oral
          ?.observations
      }}</mat-checkbox
    >
  </div>
</div>
<div class="action">
  <button mat-raised-button (click)="dialogRef.close(false)">
    {{ currentLanguageSet?.common?.cancel }}
  </button>
  <button
    mat-raised-button
    (click)="dialogRef.close(printPagePreviewSelect)"
    class="background-primary"
    cdkFocusInitial
  >
    {{ currentLanguageSet?.previousvisit?.previewmmu }}
  </button>
</div>
