<div class="container" *ngIf="!hideBack">
  <div class="row">
    <div class="col-12">
      <div>
        <button
          mat-raised-button
          color="primary"
          class="pull-right mat_blue"
          (click)="printPage()"
        >
          {{ current_language_set?.casesheet?.print }}
        </button>
      </div>
      <div>
        <button
          mat-raised-button
          color="primary"
          class="pull-left mat_blue"
          (click)="goBack()"
        >
          {{ current_language_set?.common?.back }}
        </button>
      </div>
    </div>
  </div>
</div>

<div class="col-12 button_postion">
  <div>
    <button
      mat-mini-fab
      matTooltip="{{ current_language_set?.casesheet?.caseComponent }}"
      matTooltipPosition="left"
      style="margin-bottom: 5px"
      matTooltipClass="iemr-tooltip"
      class="example-fab select non-printable mat_blue_circle"
      color="primary"
      (click)="selectPrintPage()"
    >
      <mat-icon>view_module</mat-icon>
    </button>
  </div>

  <div>
    <button
      mat-mini-fab
      matTooltip="{{ current_language_set?.casesheet?.goTop }}"
      matTooltipPosition="left"
      style="margin-bottom: 5px"
      class="example-fab upward non-printable mat_blue_circle"
      color="primary"
      (click)="goToTop()"
      *ngIf="!previous"
    >
      <mat-icon>arrow_upward</mat-icon>
    </button>
  </div>

  <div>
    <button
      mat-mini-fab
      matTooltip="{{ current_language_set?.casesheet?.printCaseheet }}"
      matTooltipPosition="left"
      class="example-fab print non-printable mat_blue_circle"
      color="primary"
      style="margin-bottom: 5px"
      (click)="printPage()"
      *ngIf="!previous"
    >
      <mat-icon>print</mat-icon>
    </button>
  </div>

  <div>
    <button
      mat-mini-fab
      matTooltip="{{ current_language_set?.casesheet?.workList }}"
      matTooltipPosition="left"
      class="example-fab back non-printable mat_blue_circle"
      style="margin-bottom: 5px"
      color="primary"
      (click)="goBack()"
      *ngIf="!hideBack"
    >
      <mat-icon>chevron_left</mat-icon>
    </button>
  </div>

  <div>
    <button
      *ngIf="oncologistRemarks"
      mat-mini-fab
      matTooltip="{{
        current_language_set?.common?.enterOncologistObservation
      }}"
      matTooltipPosition="right"
      class="comment-fab edit non-printable"
      color="primary"
      (click)="getOncologistRemarks()"
    >
      <mat-icon>edit</mat-icon>
    </button>
  </div>
</div>

<div class="m-t-60 non-printable"></div>

<div style="margin-top: 20px">
  <app-cancer-doctor-diagnosis-case-sheet
    [printPagePreviewSelect]="printPagePreviewSelect"
    [casesheetData]="caseSheetData"
    [previous]="previous"
  ></app-cancer-doctor-diagnosis-case-sheet>
  <div class="page-break"></div>
  <ng-container *ngIf="printPagePreviewSelect.caseSheetHistory">
    <app-cancer-history-case-sheet
      [casesheetData]="caseSheetData"
      [previous]="previous"
    ></app-cancer-history-case-sheet>
    <div class="page-break"></div>
  </ng-container>
  <ng-container *ngIf="printPagePreviewSelect.caseSheetExamination">
    <app-cancer-examination-case-sheet
      [casesheetData]="caseSheetData"
      [previous]="previous"
    ></app-cancer-examination-case-sheet>
  </ng-container>
</div>
