.select-full-width {
    width: 100%;
}

.input-full-width {
    width: 100%;
}

.mat-form-field {
    line-height: unset;
}

.box {
    height: 60px;
}
.mat_form_field_width >>>.mat-mdc-text-field-wrapper {
    width: 125% !important;
}