<div class="row m-t-10">
  <div class="col-xs-12">
    <app-cancer-case-record
      *ngIf="showCancer"
      [caseRecordMode]="caseRecordModeData"
      [findings]="findings"
      [currentVitals]="currentVitalsData"
      [pregnancyStatus]="pregnancyStatus"
      [diagnosisForm]="patientCaseRecordForm"
    ></app-cancer-case-record>
    <app-general-case-record
      *ngIf="showGeneralOPD"
      [caseRecordMode]="caseRecordModeData"
      [findings]="findings"
      [currentVitals]="currentVitalsData"
      [generalCaseRecordForm]="patientCaseRecordForm"
      [visitCategory]="visitCategory"
    ></app-general-case-record>
  </div>
</div>
