<section class="row" style="margin-top: 0.5%">
  <section class="col-md-8">
    <div class="container-fluid searchBox">
      <div class="row alignBox">
        <div
          class="col-11 col-lg-11 col-sm-11 col-md-11 col-xs-11"
          style="padding: 0; border-right: 1px solid lightgray"
        >
          <input
            autocomplete="off"
            id="searchbox"
            searchPattern
            maxlength="32"
            placeholder="{{ currentLanguageSet?.ro?.benIDOrPhNo }} ..."
            class="pull-left search_textbox"
            [(ngModel)]="quicksearchTerm"
            (keyup.enter)="searchBeneficiary(quicksearchTerm)"
          />
        </div>
        <div
          class="col-1 col-lg-1 col-sm-1 col-md-1 col-xs-1"
          style="padding-left: 0"
        >
          <button
            style="margin-left: 38rem; margin-top: 7px"
            class="search_button pull-right"
            (click)="searchBeneficiary(quicksearchTerm)"
            matTooltip="{{ currentLanguageSet?.quickSearch }}"
          >
            <mat-icon>search</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </section>
  <section class="col-md-4">
    <section class="row search-button-container">
      <button
        mat-raised-button
        style="display: none"
        class="btn btn-link"
        data-toggle="modal "
        data-target="#fingerPrintPage "
        matTooltip="Fingerprint Search"
      >
        {{ currentLanguageSet?.fingerPrintSearch }}
      </button>
      <button
        mat-raised-button
        class="btn btn-default pull-right adv-button"
        data-toggle="modal "
        (click)="openSearchDialog()"
      >
        {{ currentLanguageSet?.bendetails?.advanceSearch }}
      </button>

      <button
        mat-raised-button
        class="btn btn-default cu-btn-default reg-button"
        (click)="navigateTORegistrar()"
      >
        {{ currentLanguageSet?.ro?.registration }}
      </button>
      <div id="fingerPrintPage " class="modal fade" role="dialog ">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button mat-raised-button class="close" data-dismiss="modal ">
                &times;
              </button>
              <h4 class="modal-title">{{ currentLanguageSet?.modalHeader }}</h4>
            </div>
            <div class="modal-body" style="background: #000">
              <img src="assets/images/fingerprintScannerPage.png" alt=" " />
            </div>
            <div class="modal-footer">
              <button
                mat-raised-button
                class="btn btn-default pull-right"
                data-dismiss="modal "
              >
                {{ currentLanguageSet?.common?.close }}
              </button>
              <button mat-raised-button class="btn btn-default pull-right">
                {{ currentLanguageSet?.common?.clear }}
              </button>
              <button
                mat-raised-button
                class="btn btn-default pull-right"
                data-dismiss="modal "
              >
                {{ currentLanguageSet?.common?.submit }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</section>

<div class="row spacer"></div>

<div class="row m-b-40">
  <div class="col-sm-12">
    <mat-card>
      <div *ngIf="beneficiaryList?.length > 0">
        <mat-form-field
          id="filterbox"
          class="m-t-20"
          style="float: right; padding: 5px"
        >
          <input
            autocomplete="off"
            matInput
            placeholder="{{ currentLanguageSet?.common?.inTableSearch }}"
            #filterTerm
            (keyup)="filterBeneficiaryList(filterTerm.value)"
          />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
      <div *ngIf="externalBeneficiaryList?.length > 0" class="pull-right">
        <mat-form-field id="filterbox" class="m-t-20">
          <input
            autocomplete="off"
            matInput
            placeholder="{{ currentLanguageSet?.common?.inTableSearch }}"
            #filterTerm
            (keyup)="filterExternalBeneficiaryList(filterTerm.value)"
          />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
      <div class="clearfix"></div>
      <section class="table-responsive table-striped">
        <table
          *ngIf="externalBeneficiaryList?.length === 0"
          mat-table
          [dataSource]="dataSource"
          class="mat-elevation-z8 responsiveTable"
          aria-describedby="searchBenResults"
        >
          <ng-container matColumnDef="edit">
            <th
              mat-header-cell
              style="border-bottom: none"
              *matHeaderCellDef
              mat-sort-header
            >
              {{ currentLanguageSet?.bendetails?.edit }}
            </th>
            <td mat-cell *matCellDef="let beneficiary">
              <button
                matTooltip="{{ currentLanguageSet?.editBeneficiary }}"
                type="button"
                class="btn text-center"
                (click)="editPatientInfo(beneficiary)"
              >
                <span class="fa fa-pencil cursorPointer fa-lg"></span>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="beneficiaryID">
            <th
              mat-header-cell
              style="border-bottom: none"
              *matHeaderCellDef
              mat-sort-header
            >
              {{ currentLanguageSet?.bendetails?.beneficiaryID }}
            </th>
            <td
              mat-cell
              *matCellDef="let beneficiary"
              (click)="sendRegisteredBeneficiaryToNurse(beneficiary.benObject)"
            >
              {{ beneficiary?.beneficiaryID }}
            </td>
          </ng-container>

          <ng-container matColumnDef="benName">
            <th
              mat-header-cell
              style="border-bottom: none"
              *matHeaderCellDef
              mat-sort-header
            >
              {{ currentLanguageSet?.bendetails?.beneficiaryName }}
            </th>
            <td
              mat-cell
              *matCellDef="let beneficiary"
              (click)="patientRevisited(beneficiary.benObject)"
              style="max-width: 200px; word-break: break-word"
            >
              {{ beneficiary?.benName | titlecase }}
            </td>
          </ng-container>

          <ng-container matColumnDef="genderName">
            <th
              mat-header-cell
              style="border-bottom: none"
              *matHeaderCellDef
              mat-sort-header
            >
              {{ currentLanguageSet?.bendetails?.gender }}
            </th>
            <td
              mat-cell
              *matCellDef="let beneficiary"
              (click)="patientRevisited(beneficiary.benObject)"
            >
              {{ beneficiary.genderName | titlecase }}
            </td>
          </ng-container>

          <ng-container matColumnDef="age">
            <th
              mat-header-cell
              style="border-bottom: none"
              *matHeaderCellDef
              mat-sort-header
            >
              {{ currentLanguageSet?.bendetails?.age }}
            </th>
            <td
              mat-cell
              *matCellDef="let beneficiary"
              (click)="patientRevisited(beneficiary.benObject)"
            >
              {{ beneficiary.age === "a year" ? "1 year" : beneficiary.age }}
            </td>
          </ng-container>

          <ng-container matColumnDef="fatherName">
            <th
              mat-header-cell
              style="border-bottom: none"
              *matHeaderCellDef
              mat-sort-header
            >
              {{ currentLanguageSet?.bendetails?.fatherName }}
            </th>
            <td
              mat-cell
              *matCellDef="let beneficiary"
              (click)="patientRevisited(beneficiary.benObject)"
            >
              {{ beneficiary.fatherName | titlecase }}
            </td>
          </ng-container>

          <ng-container matColumnDef="districtVillage">
            <th
              mat-header-cell
              style="border-bottom: none"
              *matHeaderCellDef
              mat-sort-header
            >
              {{ currentLanguageSet?.bendetails?.district }}
            </th>
            <td
              mat-cell
              *matCellDef="let beneficiary"
              (click)="patientRevisited(beneficiary.benObject)"
            >
              {{ beneficiary.districtName | titlecase }} /
              {{ beneficiary.villageName | titlecase }}
            </td>
          </ng-container>

          <ng-container matColumnDef="phoneNo">
            <th
              mat-header-cell
              style="border-bottom: none"
              *matHeaderCellDef
              mat-sort-header
            >
              {{ currentLanguageSet?.bendetails?.phoneNo }}
            </th>
            <td
              mat-cell
              *matCellDef="let beneficiary"
              (click)="patientRevisited(beneficiary.benObject)"
            >
              {{ beneficiary.phoneNo }}
            </td>
          </ng-container>

          <ng-container matColumnDef="registeredOn">
            <th
              mat-header-cell
              style="border-bottom: none"
              *matHeaderCellDef
              mat-sort-header
            >
              {{ currentLanguageSet?.bendetails?.registrationDate }}
            </th>
            <td
              mat-cell
              *matCellDef="let beneficiary"
              (click)="patientRevisited(beneficiary.benObject)"
            >
              {{ beneficiary.registeredOn }}
            </td>
          </ng-container>

          <ng-container matColumnDef="abhaAddress">
            <th
              mat-header-cell
              style="border-bottom: none"
              *matHeaderCellDef
              mat-sort-header
            >
              {{ currentLanguageSet?.abhaDetails }}
            </th>
            <td mat-cell *matCellDef="let beneficiary">
              <button
                mat-raised-button
                type="button"
                color="primary"
                class="btn text-center"
                (click)="getHealthIDDetails(beneficiary)"
              >
                <span>View</span>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="image">
            <th
              mat-header-cell
              style="border-bottom: none"
              *matHeaderCellDef
              mat-sort-header
            >
              {{ currentLanguageSet?.bendetails?.image }}
            </th>
            <td
              mat-cell
              *matCellDef="let beneficiary"
              (click)="patientImageView(beneficiary.beneficiaryRegID)"
              matTooltip="{{ currentLanguageSet?.tc?.image }}"
            >
              <img src="assets/images/Avatar-Profile_30X30.png " alt="image" />
            </td>
          </ng-container>
          <!-- Repeat ng-container for other columns -->

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <div
          class="pull-center"
          style="margin-top: 5px; text-align: center"
          [hidden]="dataSource.data.length > 0"
        >
          <strong>{{ currentLanguageSet?.common?.noRecordsFound }}</strong>
        </div>
        <mat-paginator
          *ngIf="dataSource.data.length > 0"
          [pageSizeOptions]="[5, 10, 20]"
          [pageSize]="5"
          showFirstLastButtons
          aria-label="Select patient in search Worklist"
        >
        </mat-paginator>

        <!-- Table For Displaying External Beneficiary data from Mongo-->
        <table
          *ngIf="externalBeneficiaryList?.data?.length > 0"
          mat-table
          [dataSource]="dataSourceOne"
          class="mat-elevation-z8 responsiveTable"
          aria-describedby="externalBeneficiaryTable"
        >
          <ng-container matColumnDef="sNo">
            <th
              mat-header-cell
              style="border-bottom: none"
              *matHeaderCellDef
              mat-sort-header
            >
              S.No
            </th>
            <td mat-cell *matCellDef="let beneficiary">
              {{ beneficiary?.sNo }}
            </td>
          </ng-container>

          <ng-container matColumnDef="amritID">
            <th
              mat-header-cell
              style="border-bottom: none"
              *matHeaderCellDef
              mat-sort-header
            >
              Amrit ID
            </th>
            <td
              mat-cell
              *matCellDef="let beneficiary"
              (click)="sendRegisteredBeneficiaryToNurse(beneficiary)"
            >
              {{ beneficiary?.amritID === null ? "NA" : beneficiary?.amritID }}
            </td>
          </ng-container>

          <ng-container matColumnDef="healthID">
            <th
              mat-header-cell
              style="border-bottom: none"
              *matHeaderCellDef
              mat-sort-header
            >
              ABHA
            </th>
            <td
              mat-cell
              *matCellDef="let beneficiary"
              (click)="sendRegisteredBeneficiaryToNurse(beneficiary)"
            >
              {{
                beneficiary?.healthID === null ? "NA" : beneficiary?.healthID
              }}
            </td>
          </ng-container>

          <ng-container matColumnDef="healthIdNumber">
            <th
              mat-header-cell
              style="border-bottom: none"
              *matHeaderCellDef
              mat-sort-header
            >
              ABHA Number
            </th>
            <td
              mat-cell
              *matCellDef="let beneficiary"
              (click)="sendRegisteredBeneficiaryToNurse(beneficiary)"
            >
              {{
                beneficiary?.healthIdNumber === null
                  ? "NA"
                  : beneficiary?.healthIdNumber
              }}
            </td>
          </ng-container>

          <ng-container matColumnDef="externalID">
            <th
              mat-header-cell
              style="border-bottom: none"
              *matHeaderCellDef
              mat-sort-header
            >
              External ID
            </th>
            <td
              mat-cell
              *matCellDef="let beneficiary"
              (click)="sendRegisteredBeneficiaryToNurse(beneficiary)"
            >
              {{
                beneficiary?.externalId === null
                  ? "NA"
                  : beneficiary?.externalId
              }}
            </td>
          </ng-container>

          <ng-container matColumnDef="benName">
            <th
              mat-header-cell
              style="border-bottom: none"
              *matHeaderCellDef
              mat-sort-header
            >
              Name
            </th>
            <td
              mat-cell
              *matCellDef="let beneficiary"
              (click)="sendRegisteredBeneficiaryToNurse(beneficiary)"
            >
              {{ beneficiary?.benName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="gender">
            <th
              mat-header-cell
              style="border-bottom: none"
              *matHeaderCellDef
              mat-sort-header
            >
              Gender
            </th>
            <td
              mat-cell
              *matCellDef="let beneficiary"
              (click)="sendRegisteredBeneficiaryToNurse(beneficiary)"
            >
              {{ beneficiary.gender | titlecase }}
            </td>
          </ng-container>

          <ng-container matColumnDef="dob">
            <th
              mat-header-cell
              style="border-bottom: none"
              *matHeaderCellDef
              mat-sort-header
            >
              Date Of Birth
            </th>
            <td
              mat-cell
              *matCellDef="let beneficiary"
              (click)="sendRegisteredBeneficiaryToNurse(beneficiary)"
            >
              {{ beneficiary?.dob }}
            </td>
          </ng-container>

          <ng-container matColumnDef="state">
            <th
              mat-header-cell
              style="border-bottom: none"
              *matHeaderCellDef
              mat-sort-header
            >
              State
            </th>
            <td
              mat-cell
              *matCellDef="let beneficiary"
              (click)="sendRegisteredBeneficiaryToNurse(beneficiary)"
            >
              {{ beneficiary.state | titlecase }}
            </td>
          </ng-container>

          <ng-container matColumnDef="district">
            <th
              mat-header-cell
              style="border-bottom: none"
              *matHeaderCellDef
              mat-sort-header
            >
              District
            </th>
            <td
              mat-cell
              *matCellDef="let beneficiary"
              (click)="sendRegisteredBeneficiaryToNurse(beneficiary)"
            >
              {{ beneficiary.district | titlecase }}
            </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th
              mat-header-cell
              style="border-bottom: none"
              *matHeaderCellDef
              mat-sort-header
            >
              Action
            </th>
            <td mat-cell *matCellDef="let beneficiary">
              <button
                mat-raised-button
                type="button"
                color="primary"
                [disabled]="
                  beneficiary?.amritID !== '' &&
                  beneficiary?.amritID !== null &&
                  beneficiary?.amritID !== undefined &&
                  beneficiary?.externalId !== null &&
                  beneficiary?.externalId !== undefined &&
                  beneficiary?.externalId !== ''
                "
                (click)="migrateBeneficiaryToAmrit(beneficiary.benObject)"
              >
                Register to AMRIT
              </button>
            </td>
          </ng-container>
          <!-- Repeat ng-container for other columns -->

          <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns1"></tr>
        </table>
        <div
          class="pull-center"
          style="margin-top: 5px; text-align: center"
          [hidden]="dataSourceOne.data.length > 0"
        >
          <strong>{{ currentLanguageSet?.common?.noRecordsFound }}</strong>
        </div>
        <mat-paginator
          *ngIf="dataSourceOne.data.length > 0"
          [pageSizeOptions]="[5, 10, 20]"
          [pageSize]="5"
          showFirstLastButtons
          aria-label="Select patient in search Worklist"
        >
        </mat-paginator>
      </section>
    </mat-card>
  </div>
</div>
