<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 page-header">
    <h3>
      <span *ngIf="patientRevisit"
        >{{ currentLanguageSet?.bendetails?.edit }} </span
      >{{ currentLanguageSet?.ro?.registration }}
    </h3>
    <button
      style="margin: 5px"
      *ngIf="patientRevisit"
      class="pull-right m-r-5 mat_blue"
      id="viewHealthID"
      mat-raised-button
      color="primary"
      type="accent"
      (click)="viewHealthIdData()"
    >
      {{ currentLanguageSet?.aBHADetails }}
    </button>
    <button
      id="moveToSearch"
      style="margin: 5px"
      mat-raised-button
      color="primary"
      class="pull-right m-r-5 mat_blue"
      (click)="confirmFormReset(false)"
    >
      {{ currentLanguageSet?.common?.search }}
    </button>
    <button
      id="moveToPrintHealthIDCard"
      style="margin: 5px"
      mat-raised-button
      color="primary"
      class="pull-right m-r-5 mat_blue"
      (click)="printHealthIDCard()"
    >
      {{ currentLanguageSet?.downloadAbhaCard }}
    </button>
    <button
      id="moveToPrintHealthIDCard"
      style="margin: 5px"
      mat-raised-button
      color="primary"
      class="pull-right m-r-5 mat_blue"
      (click)="generateAbhaCard()"
    >
      Generate Abha Card
    </button>
  </div>
</div>
<form [formGroup]="beneficiaryRegistrationForm">
  <mat-accordion>
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
      <mat-expansion-panel-header>
        <mat-icon>account_circle</mat-icon>
        <span class="headings">
          {{ currentLanguageSet?.ro?.personalInfo?.personalInformation }}
        </span>
      </mat-expansion-panel-header>
      <app-register-personal-details
        [personalDetailsForm]="personalDetailsForm"
        [patientRevisit]="patientRevisit"
      ></app-register-personal-details>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
      <mat-expansion-panel-header>
        <mat-icon>room</mat-icon>
        <span class="headings">
          {{ currentLanguageSet?.ro?.locInfo?.locInformation }}
        </span>
      </mat-expansion-panel-header>
      <app-register-demographic-details
        [demographicDetailsForm]="demographicDetailsForm"
        [patientRevisit]="patientRevisit"
      ></app-register-demographic-details>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)">
      <mat-expansion-panel-header>
        <mat-icon>description</mat-icon>
        <span class="headings">
          {{ currentLanguageSet?.ro?.otherInfo?.otherInformation }}
        </span>
      </mat-expansion-panel-header>
      <app-register-other-details
        [otherDetailsForm]="otherDetailsForm"
        [patientRevisit]="patientRevisit"
        [disableGenerateOTP]="disableGenerateOTP"
        (disableGenerateHealthID)="disableGenerateHealthID()"
      ></app-register-other-details>
    </mat-expansion-panel>
  </mat-accordion>
</form>

<div class="row m-t-20" style="margin-bottom: 30px">
  <div class="col-sm-12 step-btn m-b-20" style="text-align: right">
    <button
      id="cancelButton"
      *ngIf="patientRevisit"
      class="mat_blue"
      style="margin-right: 10px"
      mat-raised-button
      type="button"
      (click)="cancelBeneficiaryChanges()"
    >
      {{ currentLanguageSet?.common?.cancel }}
    </button>
    <button
      id="resetButton"
      *ngIf="!patientRevisit"
      class="mat_blue"
      style="margin-right: 10px"
      mat-raised-button
      color="primary"
      type="reset"
      (click)="confirmFormReset(true)"
    >
      {{ currentLanguageSet?.common?.reset }}
    </button>
    <button
      id="saveButton"
      class="mat_blue"
      style="margin-right: 10px"
      mat-raised-button
      *ngIf="patientRevisit"
      color="accent"
      type="button"
      (click)="updateBeneficiaryDetails()"
    >
      {{ currentLanguageSet?.common?.update }}
    </button>
    <button
      id="submitButton"
      class="mat_blue"
      mat-raised-button
      color="primary"
      type="accent"
      (click)="postButtonCall()"
    >
      {{ currentLanguageSet?.common?.submit }}
    </button>
  </div>
</div>
