.tabs_css >>> .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
    color:unset !important;
}
.tabs_css >>> .mat-mdc-tab-labels {
    width: 25rem !important;
}

.tabs_css >>> .mat-mdc-tab {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
    background: none;
    font-family:inherit !important;
    font-size: 16px !important;
    letter-spacing: unset !important;
    line-height: var(--mat-tab-header-label-text-line-height);
    font-weight: var(--mat-tab-header-label-text-weight);
}

.tabs_css >>> .mat-tab-group.mat-primary .mat-tab-label:focus, .mat-tab-group.mat-primary .mat-tab-link:focus, .mat-tab-nav-bar.mat-primary .mat-tab-label:focus, .mat-tab-nav-bar.mat-primary .mat-tab-link:focus {
    background-color: rgba(179, 229, 252, 0.3);
}