<div *ngIf="!verify">
  <h3 class="title success">Info</h3>
  <div class="message">
    <mat-label>{{ currentLanguageSet?.aBHAGeneratedSuccessfully }}</mat-label
    ><br />
    <mat-label
      ><strong>{{ currentLanguageSet?.aBHA }}:</strong>
      {{ succdata.healthId }}</mat-label
    ><br />
    <mat-label
      ><strong>{{ currentLanguageSet?.aBHANumber }}:</strong>
      {{ succdata.healthIdNumber }}</mat-label
    ><br /><br />
    <mat-label *ngIf="!healthIdCardBio" class="userConsent">{{
      currentLanguageSet?.doYouWantToDownloadABHACard
    }}</mat-label>
  </div>
  <div class="action" *ngIf="!healthIdCardBio">
    <button
      mat-raised-button
      class="full-width-login button-ok"
      mat-dialog-close
      (click)="clearPIDData()"
    >
      {{ currentLanguageSet?.common?.no }}
    </button>
    <button
      mat-raised-button
      class="background-primary mat_blue"
      cdkFocusInitial
      (click)="fetchOtp(succdata.healthId, succdata.healthIdNumber)"
    >
      {{ currentLanguageSet?.common?.yes }}
    </button>
  </div>
  <div class="action" *ngIf="healthIdCardBio">
    <button mat-raised-button mat-dialog-close>
      {{ currentLanguageSet?.common?.ok }}
    </button>
  </div>
</div>
<div *ngIf="verify">
  <h3 class="title success">Info</h3>
  <div class="messageotp">
    <mat-label>{{ currentLanguageSet?.aBHAValidatedSuccessfully }}</mat-label
    ><br />
    <mat-label
      ><strong>{{ currentLanguageSet?.aBHA }}:</strong
      >{{ succdata.Auth.Patient.Id }}</mat-label
    ><br />
    <mat-label
      ><strong>{{ currentLanguageSet?.casesheet?.name }}:</strong>
      {{ succdata.Auth.Patient.Name }}</mat-label
    ><br />
    <mat-label
      ><strong>{{ currentLanguageSet?.bendetails?.gender }}:</strong>
      {{ genderName }}</mat-label
    ><br /><br />
    <div class="action">
      <button mat-raised-button mat-dialog-close>
        {{ currentLanguageSet?.common?.ok }}
      </button>
    </div>
  </div>
</div>
