/* You can add global styles to this file, and also import other style files */

@import 'css/custom.css';
@import 'css/layout.css';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


.mat-input-placeholder,
.mat-select-placeholder,
.md2-datepicker-placeholder {
  color: #999 !important;
}

.mat-select-placeholder .ng-trigger .ng-trigger-transformPlaceholder .mat-floating-placeholder {
  color: #999 !important;
}

[disabled] .mat-select-placeholder .ng-trigger .ng-trigger-transformPlaceholder .mat-floating-placeholder .mat-input-placeholder,
[aria-disabled=true] .mat-select-placeholder,
.mat-input-placeholder {
  color: #999 !important;
}

.odd {
  background-color: #f0f5f5;
  border-bottom: 1px solid #ddd;
}

.action-btn-container {
  padding: 10px;
}

.box {
  height: 60px;
}

.multi-row-select {
  padding: 5px 0px;
}

.no-row {
  margin: 0 !important;
}

.cdk-overlay-container .cdk-global-overlay-wrapper .cdk-overlay-pane .mat-dialog-container {
  padding: 0px;
  overflow: hidden;
}

.cdk-overlay-container .cdk-global-overlay-wrapper .cdk-overlay-pane.preview-casesheet .mat-dialog-container {
  max-width: unset;
}

.cdk-overlay-container .cdk-global-overlay-wrapper .cdk-overlay-pane .mat-snack-bar-container {
  max-width: 240px !important;
  min-width: 180px !important;
}

.cdk-overlay-container .cdk-global-overlay-wrapper #cdk-overlay-0 {
  margin-bottom: 6px !important;
}

#cdk-overlay-0 .btn-green {
  background: green !important;
}

.btn-green:disabled {
  background: grey !important;
  cursor: not-allowed;
}

.mat_blue {
  background-color: #0277bd !important;
  border-color: unset !important;
  color: white;
  border: unset;
  border-radius: 3px;
  line-height: 36px;
  min-width: 88px;
}
.mat_blue:disabled {
  background-color: #e0e0e0 !important;
  border-color: unset !important;
  color: rgba(0, 0, 0, 0.38);
  border: unset;
  border-radius: 3px;
  line-height: 36px;
  min-width: 88px;
}
.mat_green {
  background-color: #43a047 !important;
  border-color: unset !important;
  color: white;
  border: unset;
  border-radius: 3px;
  line-height: 36px;
  min-width: 88px;
}
.mat_green:disabled {
  background-color: #e0e0e0 !important;
  border-color: unset !important;
  color: rgba(0, 0, 0, 0.38);
  border: unset;
  border-radius: 3px;
  line-height: 36px;
  min-width: 88px;
}

.mat_gray {
  background-color: #f0f0f0 !important;
  border-color: unset !important;
  color: black;
  border: unset;
  border-radius: 3px;
  line-height: 36px;
  min-width: 88px;
}

.mat_blue_circle {
  background-color: #0277bd;
  min-width: 0;
  border-radius: 50%;
  border-color: unset !important;
  color: white;
  border: unset;
  width: 40px;
  height: 40px;
  padding: 0;
  left: 20px;
  bottom: 50px;
  z-index: 3;
}
.mat_blue_circle:disabled {
  background-color: #e0e0e0;
  min-width: 0;
  border-radius: 50%;
  border-color: unset !important;
  color: rgba(0, 0, 0, 0.38);
  border: unset;
  width: 40px;
  height: 40px;
  padding: 0;
  left: 20px;
  bottom: 50px;
  z-index: 3;
}
.mat_gray_circle {
  background-color: rgba(0, 0, 0, 0.12);
  min-width: 0;
  border-radius: 50%;
  border-color: unset !important;
  color:#00000061;
  border: unset;
  width: 40px;
  height: 40px;
  padding: 0;
  left: 20px;
  bottom: 50px;
  z-index: 3;
}
.mat_warn_circle {
  background-color: #ff5252;
  min-width: 0;
  border-radius: 50%;
  border-color: unset !important;
  color:white ;
  border: unset;
  width: 40px;
  height: 40px;
  padding: 0;
  left: 20px;
  bottom: 50px;
  z-index: 3;
}
.mat_icon_blue{
  background-color: white;
  min-width: 0;
  border-radius: 50%;
  border-color: unset !important;
  color:#0277bd ;
  border: unset;
  width: 40px;
  height: 40px;
  padding: 0;
  left: 20px;
  bottom: 50px;
  z-index: 3;
}
.mat_icon_white{
  background-color: #0277bd;
  min-width: 0;
  border-radius: 50%;
  border-color: unset !important;
  color:white ;
  border: unset;
  width: 40px;
  height: 40px;
  padding: 0;
  left: 20px;
  bottom: 50px;
  z-index: 3;
}

.mat-form-field {
  line-height: unset;
}

md2-datepicker {
  top: -7px;
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}

@media only screen and (max-width: 768px) {
  .registrar-menu.mat-menu-panel {
    max-width: none;
    width: 100vw;
    margin-top: 10px;
  }

  .cdk-overlay-container .cdk-global-overlay-wrapper .cdk-overlay-pane.fit-screen {
    width: 100%;
    height: 100%;
  }

  .cdk-overlay-container .cdk-global-overlay-wrapper .cdk-overlay-pane .mat-dialog-container {
    padding: 0px;
    max-width: 98vw;
    max-height: 95vh;
  }

  .vw100 {
    width: 100vw !important;
  }
}

.mat-form-field.readonly .mat-form-field-underline {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.42)), color-stop(33%, rgba(0, 0, 0, 0.42)), color-stop(0%, transparent));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.42) 0%, rgba(0, 0, 0, 0.42) 33%, transparent 0%);
  background-size: 4px 1px;
  background-repeat: repeat-x;
  background-color: unset;
}

.sw {
  float: left;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.search {
  flex: 1 1 auto;
  order: 2;
  outline: none;
  border: none;
  border-radius: 0;
  background: #fff;
  padding: 8px;
  font-family: 'Roboto', sans-serif;
  height: 40px;
  transition: all 0.05s ease-in-out;
  -webkit-appearance: none;
}

.go {
  flex: 1 1 auto;
  order: 3;
  max-width: 50px;
  display: inline-block;
  border: none;
  background: #fff;
  color: blue;
  padding-top: 6px;
  height: 40px;
  transition: all 0.05s ease-in-out;
  outline: none;
}

.m-b-40 {
  margin-bottom: 40px;
}

.mat-tab-label {
  opacity: unset !important;
}


.cdk-overlay-container .cdk-global-overlay-wrapper .cdk-overlay-pane.fit-screen {
  width: 98% !important;
  height: 88% !important;
}

.cdk-overlay-container .cdk-global-overlay-wrapper .cdk-overlay-pane.fit-screen .mat-dialog-container {
  max-width: unset;
}

.cdk-overlay-container .cdk-global-overlay-wrapper .backdrop {
  background: darkslategray;
  filter: blur(8px);
}

.cdk-overlay-container {
  position: fixed;
}

.cdk-global-overlay-wrapper {
  display: flex;
  position: absolute;
}

.cdk-overlay-pane {
  position: absolute;
  pointer-events: auto;
  box-sizing: border-box;
}

.cdk-overlay-backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: auto;
  transition: opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
  opacity: 0;
}

mat-mdc-form-field-label-always-float {
  background-color: white !important;
}

.mdc-text-field--filled,
.mdc-text-field--focused {
  background-color: white !important;
}

.mat-mdc-form-field-focus-overlay {
  background-color: white !important
}

.mat-mdc-form-field:hover .mat-mdc-form-field-focus-overlay {
  background-color: white !important
}

.mat-mdc-form-field.mat-focused .mat-mdc-form-field-focus-overlay {
  background-color: white !important
}

/* Table CSS */

.mat-mdc-row:hover {
  color: #0277bd !important;
}

.mat-mdc-row:nth-child(2n) {
  background-color: #f9f9f9;
}

.table-responsive {
  margin: 15px;
  overflow-y: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  border: 1px solid #ddd;
}

.table-responsive-report {
  overflow-y: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  border: 1px solid #ddd;
}

.mat-tab-group {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-header-row {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: inline-block !important;
  height: var(--mat-table-header-container-height, 56px);
  color: block !important;
  font-family: unset !important;
  line-height: var(--mat-table-header-headline-line-height);
  font-size: unset !important;
  font-weight: var(--mat-table-header-headline-weight, 500);
}

.mat-mdc-header-cell {
  border-bottom-color: var(--mat-table-row-item-outline-color, rgba(0, 0, 0, 0.12));
  border-bottom-width: var(--mat-table-row-item-outline-width, 1px);
  border-bottom-style: solid;
  font-weight: revert !important;
  line-height: inherit;
}

.mat-mdc-table {
  --mat-table-row-item-outline-width: 1px;
  table-layout: auto;
  white-space: unset !important;
  background-color: var(--mat-table-background-color);
}

.description {
  margin-bottom: -54.5px !important;
}

h5 {
  font-size: larger;
}

.mat-expansion-panel-body {
  padding: 0 24px 0px !important;
}


.mat-mdc-select-trigger {
  border-bottom-style: groove;
}

.mdc-line-ripple::before, .mdc-line-ripple::after {
 
  border-bottom-style:unset !important;
}
.mat-mdc-form-field:not(.mat-form-field-no-animations) .mdc-text-field__input {
  border-bottom-style: groove ;
}
.mat-step-icon-selected {
  background-color: #0277bd !important;
}
.mat-step-icon-state-edit {
  background-color: #0277bd !important;
}
.mat-drawer-opened {
  background-color: #f2f2f0 !important;

}

.mat-drawer-side {
  border-right-color: unset !important;
  border-right-width: unset !important;
  border-right-style: unset !important;
}
.mat-mdc-checkbox.mat-primary {
  --mdc-checkbox-disabled-selected-icon-color: rgba(0, 0, 0, .38);
  --mdc-checkbox-disabled-unselected-icon-color: rgba(0, 0, 0, .38);
  --mdc-checkbox-selected-checkmark-color: #fff;
  --mdc-checkbox-selected-focus-icon-color: #0277bd !important;
  --mdc-checkbox-selected-hover-icon-color: #0277bd !important;
  --mdc-checkbox-selected-icon-color: #0277bd !important;
  --mdc-checkbox-selected-pressed-icon-color: #0277bd !important;
  --mdc-checkbox-unselected-focus-icon-color: #212121;
  --mdc-checkbox-unselected-hover-icon-color: #212121;
  --mdc-checkbox-unselected-icon-color: rgba(0, 0, 0, .54);
  --mdc-checkbox-unselected-pressed-icon-color: rgba(0, 0, 0, .54);
  --mdc-checkbox-selected-focus-state-layer-color: #0277bd !important;
  --mdc-checkbox-selected-hover-state-layer-color: #0277bd !important;
  --mdc-checkbox-selected-pressed-state-layer-color: #0277bd !important;
  --mdc-checkbox-unselected-focus-state-layer-color: black;
  --mdc-checkbox-unselected-hover-state-layer-color: black;
  --mdc-checkbox-unselected-pressed-state-layer-color: black;
}

.mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background, .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background, .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled~.mdc-checkbox__background {
  border-color: #0277bd !important;
  background-color: #0277bd !important;
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input:-internal-autofill-selected {
  appearance: menulist-button;
  background-image: none !important;
  background-color: red !important;
  color: fieldtext !important;
}
/* radio Button */
/* .mat-mdc-radio-button .mdc-form-field {
  color: #0277bd !important;
} */
.mat-accent {
  --mat-option-selected-state-label-text-color:#0277bd !important;
}

.mat-mdc-radio-button.mat-accent {
  --mdc-radio-disabled-selected-icon-color: #000;
  --mdc-radio-disabled-unselected-icon-color: #000;
  --mdc-radio-unselected-hover-icon-color: #212121;
  --mdc-radio-unselected-icon-color: rgba(0, 0, 0, 0.54);
  --mdc-radio-unselected-pressed-icon-color: rgba(0, 0, 0, 0.54);
  --mdc-radio-selected-focus-icon-color:#0277bd !important;
  --mdc-radio-selected-hover-icon-color:#0277bd !important;
  --mdc-radio-selected-icon-color:#0277bd !important;
  --mdc-radio-selected-pressed-icon-color:#0277bd !important;
  --mat-radio-ripple-color: #000;
  --mat-radio-checked-ripple-color:#0277bd !important;
  --mat-radio-disabled-label-color: rgba(0, 0, 0, 0.38);
}
::ng-deep.bs-datepicker.bs-datepicker-head {
  background-color: #337ab7 !important;
  min-width: 270px !important;
  height: 50px !important;
  padding: 10px !important;
  border-radius: 3px 3px 0 0 !important;
  text-align: justify !important;
}

::ng-deep.bs-datepicker.selected {
  background-color: #337ab7 !important;
}

::ng-deep.bs-datepicker.bs-datepicker-body{
    padding: 10px !important;
    border-radius: 0 0 3px 3px !important;
    min-height: 232px !important;
    min-width: 278px !important;
    border: 1px solid #e9edf0 !important;
}

::ng-deep.bs-datepicker {
  display: flex !important;
  -webkit-box-align: stretch !important;
  align-items: stretch !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
  flex-flow: row wrap !important;
  background: #fff !important;
  box-shadow: 0 0 10px 0 #aaa !important;
  position: relative !important;
  z-index: 1 !important;
}

::ng-deep.bs-datepicker.bs-datepicker-container {
  padding: 0 !important;
}

.mat-label-text {
  color: rgba(0, 0, 0, 0.6);
}

.mdc-form-field>label {
  color: #000;
}