<div class="m-t-10" [formGroup]="generalDiagnosisForm">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <header class="mat-expansion-panel-header m-t-5">
        <h4>{{ current_language_set?.casesheet?.provisionalDiag }}*</h4>
      </header>
      <ng-container formArrayName="provisionalDiagnosisList">
        <div
          class="col-12 row"
          *ngFor="
            let diagnosis of getProvisionalDiagnosisList();
            let i = index;
            let isLast = last
          "
        >
          <ng-container [formGroupName]="i">
            <div class="col-6 m-t-10">
              <mat-form-field class="input-full-width">
                <input
                  matInput
                  allowText="inputFieldValidator"
                  appDiagnosisSearch
                  [diagnosisListForm]="diagnosis"
                  required
                  name="viewProvisionalDiagnosisProvided"
                  formControlName="viewProvisionalDiagnosisProvided"
                  maxlength="100"
                  minlength="3"
                  required
                />
                <mat-icon
                  class="search-btn cursorPointer"
                  matSuffix
                  appDiagnosisSearch
                  [diagnosisListForm]="diagnosis"
                  [addedDiagnosis]="
                    generalDiagnosisForm.value.provisionalDiagnosisList
                  "
                  >search</mat-icon
                >
              </mat-form-field>
            </div>
            <div class="col-xs-12 col-sm-3 m-t-10">
              <button
                mat-mini-fab
                type="button"
                color="warn"
                class="mat_warn_circle"
                *ngIf="
                  diagnosis.get('viewProvisionalDiagnosisProvided')?.disabled ||
                  i !== 0 ||
                  (i === 0 &&
                    generalDiagnosisForm.get('provisionalDiagnosisList')?.value
                      .viewProvisionalDiagnosisProvided !== null &&
                    generalDiagnosisForm.get('provisionalDiagnosisList')?.value
                      .viewProvisionalDiagnosisProvided !== '')
                "
                (click)="removeDiagnosisFromList(i, diagnosis)"
              >
                <mat-icon>close</mat-icon>
              </button>
              <button
                mat-mini-fab
                type="button"
                style="margin-right: 3px"
                color="primary"
                class="mat_blue_circle"
                *ngIf="isLast"
                [disabled]="checkProvisionalDiagnosisValidity(diagnosis)"
                (click)="addDiagnosis()"
              >
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
    <div class="col-xs-12 col-sm-6 m-t-6">
      <header class="mat-expansion-panel-header">
        <h4>{{ current_language_set?.DiagnosisDetails?.specialistssdvice }}</h4>
      </header>
      <mat-form-field class="input-full-width">
        <textarea
          matInput
          defaultNull
          matTextareaAutosize
          maxlength="300"
          name="specialistAdvice"
          formControlName="instruction"
        >
        </textarea>
      </mat-form-field>
    </div>
  </div>
</div>
