.mat-tab-label, .mat-tab-link {
    color: rgba(0, 0, 0, 0.87);
  }
  
  .mat-input-infix, .mat-tab-label {
    font-weight: 800 !important;
    font-family: SF-UI-Display-Regular, "Helvetica Neue", sans-serif;
    font-size: 15px !important;
    margin-bottom: -5px !important;
  }