<div class="flex-container">
  <mat-card class="matCardSonar">
    <mat-card-title>
      <div class="btn-center">
        <img src="assets/images/Swasthya.png" alt="Logo" />
      </div>
    </mat-card-title>
    <mat-card-content>
      <form
        class="form-horizontal cu-form-horizontal-label-left"
        [formGroup]="loginForm"
        (ngSubmit)="loginForm.valid && login()"
      >
        <div class="row">
          <div class="col-xs-12 col-md-1 col-sm-1 m-t-25">
            <mat-form-field class="full-width">
              <mat-icon matPrefix>account_box</mat-icon>
              <mat-label>Enter User Name</mat-label>
              <input
                matInput
                allowText="usernameValidator"
                type="text"
                id="userID"
                formControlName="userName"
                name="userName"
                #focus
              />
            </mat-form-field>
          </div>
          <div class="col-xs-12 col-md-11 col-sm-11">
            <mat-form-field class="full-width">
              <mat-icon matPrefix>lock</mat-icon>
              <mat-label>Enter Password</mat-label>
              <input
                autocomplete="off"
                matInput
                [type]="dynamictype"
                id="password"
                formControlName="password"
                name="password"
              />
              <mat-icon
                matSuffix
                class="mat-icon material-icons cursorPointer"
                role="img"
                aria-hidden="true"
                matTooltip="Show Password"
                (mousedown)="showPWD()"
                (mouseup)="hidePWD()"
                >remove_red_eye</mat-icon
              >
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-12 col-sm-12">
            <button
              mat-raised-button
              color="primary"
              type="submit"
              class="full-width-login submit"
            >
              Login
            </button>
          </div>
        </div>
        <div class="row m-t-25">
          <div class="col-xs-6 col-sm-6"></div>
          <div class="col-xs-6 col-sm-6" style="text-align: right">
            <a
              class="cursorPointer f-c-54 font-regular"
              routerLink="/reset-password"
              >Forgot Password?</a
            >
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>

<!-- <app-footer></app-footer> -->
